/* main logo of our page */
.RPS-logo{
    height: 83px;
    width: 600px;
    right: 50%;
    transform: translate(50%,0%);
    position: absolute;
}

/* body styling */
body {
    background-color: rgb(223, 244, 252);
    font-family: 'Roboto Mono', monospace;
  }

/* main div styling */  
.content {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
    height: 500px;
    width: 50%;
    text-align:center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 20px;
  }

.content h2{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.content span{
    text-transform: uppercase;
}

.content button {
    margin:0 auto;
    width: 150px;
    height: 150px;
    display: inline-block;
    align-items: center;
}

/* button styling */
button{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.rock-button:hover, .paper-button:hover, .scissors-button:hover{
    animation: bounce 1s linear;
}

@keyframes bounce{
    20%, 50%, 80%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-25px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}

button span {
    display: none;
}

.rock-button{
    background-image: url(images/rock.png);
}

.paper-button{
    background-image: url(images/paper.png);
}

.scissors-button{
    background-image: url(images/scissors.png);
}

.user-icon {
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 25px;
    left: 200px;
}

.computer-icon {
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 25px;
    right: 200px;
}

.user-score {
    position: absolute;
    bottom: 45px;
    left: 285px;
    font-size: 150%;
}

.computer-score {
    position: absolute;
    bottom: 45px;
    right: 285px;
    font-size: 150%;
}